<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="urgent_cargus_ship_and_go">
        <observer name="urgent_cargusshipandgo_observer_backend_urgent_cargus_ship_and_go_pudo"
                  instance="Urgent\CargusShipGo\Observer\Backend\Pudo"/>
    </event>
</config>
