<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" sortOrder="1000" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <group id="cargus_shipandgo" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1"
                   translate="label">
                <label>Cargus Ship And Go</label>
                <field id="active" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Method Name</label>
                </field>
                <field id="price" type="text" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="ceiling_free_active" type="select" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Use ceiling for free shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ceiling_min_amount" type="text" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Min amount</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="ceiling_free_active">1</field>
                    </depends>
                </field>
                <field id="sort_order" type="text" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Sort Order</label>
                </field>
                <field id="title" type="text" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Title</label>
                </field>
                <field id="sallowspecific" type="select" sortOrder="80" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" type="multiselect" sortOrder="90" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Ship to Specific Countries</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="specificerrmsg" type="textarea" sortOrder="100" showInWebsite="1" showInStore="1"
                       showInDefault="1" translate="label">
                    <label>Displayed Error Message</label>
                </field>
                <field id="chunk_list_no" type="text" sortOrder="110" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Chunk List No</label>
                    <validate>integer</validate>
                </field>
                <field id="specific_payment" type="multiselect" sortOrder="120" showInWebsite="1" showInStore="1" showInDefault="1"
                       translate="label">
                    <label>Zero Payment for Specific Payment Method</label>
                    <source_model>Urgent\Base\Model\Config\Source\PaymentMethod</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
